.parentEyebrow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.eyebrow3BrowLowerer {
  width: 40%;
  height: 20%;
  border-radius: 0 30% 0 0;
  box-shadow: -0.75vmin -3vmin 0 -1vmin var(--hair);
  top: 30%;
  left: 54%;
  transform: translate(-1%, 0) rotate(0deg);
}
.eyebrow3BrowLowerer + .eyebrow3BrowLowerer {
  border-radius: 30% 0 0 0;
  box-shadow: 0.75vmin -3vmin 0 -1vmin var(--hair);
  left: 4%;
  transform: translate(-1%, 0) rotate(0deg);
}

.Depressor {
  width: 1%;
  height: 5%;
  box-shadow: 10vmin 10vmin 10 10vmin var(--depress);
  background: var(--depress);
  left: 45%;
  top: 25%;
  transform: translate(-50%, 0); 
   
}
.Depressor+.Depressor {
  width: 1%;
  height: 5%;
  box-shadow: 10vmin 10vmin 10 10vmin var(--depress);
  background: var(--depress);
  left: 50%;
  top: 25%;
  transform: translate(-50%, 0); 
}
.Depressor+.Depressor+.Depressor {
  width: 1%;
  height: 5%;
  left: 55%;
  box-shadow: 10vmin 10vmin 10 10vmin var(--depress);
  background: var(--depress);
  top: 25%;
  transform: translate(-50%, 0); 
}