.eyeLidTightener {
  width: 30%;
  height: 13%;
  background: #fff;
  border-radius: 100% / 90%;
  top: 33%;
  left: 9%;
  box-shadow: inset 0 4vmin 0 -3vmin rgba(0, 0, 0, 0.1),
    inset 0 4vmin 0 -2.5vmin var(--skin),
    /* 0 -3vmin 3vmin -1vmin rgba(0, 0, 0, 0.05); */
     inset 0 -1.5vmin 0 -0.5vmin var(--skin)
}

.eyeLidTightener::before {
  width: 3vmin;
  height: 3vmin;
  background: #222;
  border-radius: 50%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 1.25vmin var(--iris);
}

.eyeLidTightener::after {
  width: 1vmin;
  height: 1vmin;
  background: #fff;
  border-radius: 50%;
  top: 35%;
  left: 55%;
  box-shadow: 0.5vmin 0.5vmin 0 -0.25vmin #fff;
}

.eyeLidTightener + .eyeLidTightener {
  left: 61%;
}


.eyebrowLidTightener {
  width: 40%;
  height: 20%;
  border-radius: 0 30% 0 0;
  box-shadow: -0.75vmin -3vmin 0 -1vmin var(--hair);
  top: 30%;
  left: 57%;
  transform: translate(-1%, 0) rotate(5deg);
}

.eyebrowLidTightener + .eyebrowLidTightener {
  border-radius: 30% 0 0 0;
  box-shadow: 0.75vmin -3vmin 0 -1vmin var(--hair);
  left: 2%;
  transform: translate(-1%, 0) rotate(-5deg);
}
